body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/*Size for mobile devices*/
@media (max-width: 480px) {
    .container-fluid {
        text-align: center;
        background: linear-gradient(-45deg, #E8CBC0, #fab95e,rgb(55, 255, 152),#636FA4, #a202ff);
        background-size: 400% 400%;
        animation: moveBackground 15s ease infinite;
        width: 100%;
        height: 100vh;
    }
    
    @keyframes moveBackground {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    .container-fluid h1 {
        position: relative;
        text-align: center;
        top: 15%;
        font-size: 5rem;
        font-family: fantasy;
        color: black;
    }
    
    .container-fluid h6{
        position: relative;
        top:10%;
        left: 20%;
        font-size: 30px;
        background: -webkit-linear-gradient(125deg, #022cff, #3502ff, #af02ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
        
    }
    
    .container-fluid ul
    {
        position: relative;
        display: flex;
        top: 25vh;
        right: 10%;
        
    }
    .container-fluid ul h2
    {   
        text-align: center;
        width: fit-content;
        margin-left: 22.5vh;
        
    }
    
    .text {
        position: relative;
        width: 100vh;
        height: 2.5rem;
        top:5%;
    }
    
    button {
        position: relative;
        height: 2.5rem;
        top: 5%;
    }
}
/*Size for low res tablets ipads*/
@media (min-width: 481px) and (max-width: 767px)
{
    .container-fluid {
        text-align: center;
        background: linear-gradient(-45deg, #E8CBC0, #fab95e,rgb(55, 255, 152),#636FA4, #a202ff);
        background-size: 3000vh 3000vh;
        animation: moveBackground 15s ease infinite;
        width: 100%;
        height: 100vh;
    }
    
    @keyframes moveBackground {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    .container-fluid h1 {
        position: relative;
        text-align: center;
        top: 12.5%;
        font-size: 5rem;
        font-family: fantasy;
        color: white;
    }
    
    .container-fluid h6{
        position: relative;
        top:10%;
        left: 20%;
        font-size: 1.5rem;
        background: -webkit-linear-gradient(125deg, #022cff, #3502ff, #af02ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
        
    }

    .container-fluid ul
    {
        position: relative;
        align-content: center;
        display: ;
        top: 25vh;
        width: max-content;
        column-gap: 15vh;
        
        
    }
    .container-fluid ul h2
    {   
        text-align: center;
        width: fit-content;
        font-size: 15px;
        color: white;
    }
    
    .text {
        position: relative;
        width: 25vh;
        height: 2.5rem;
        top:6%;
    }
    
    button {
        position: relative;
        height: 2.5rem;
        top: 6%;
    }
}
/*Size for tablets ipads portrait mode*/
@media (min-width: 768px) and (max-width: 1024px)
{
    .container-fluid {
        text-align: center;
        background: linear-gradient(-45deg, #E8CBC0, #fab95e,rgb(55, 255, 152),#636FA4, #a202ff);
        background-size: 400% 400%;
        animation: moveBackground 15s ease infinite;
        width: 100%;
        height: 100vh;
    }
    
    @keyframes moveBackground {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    .container-fluid h1 {
        position: relative;
        text-align: center;
        top: 15%;
        font-size: 12.5rem;
        font-family: fantasy;
        color: white;
    }
    
    .container-fluid h6{
        position: relative;
        top:12%;
        left: 30%;
        font-size: 30px;
        background: -webkit-linear-gradient(125deg, #022cff, #3502ff, #af02ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
        
    }

    .container-fluid ul
    {
        position: relative;
        align-content: center;
        display: flex;
        top: 25vh;
        width: max-content;
        gap: 20vh;
        right:2%;
        
        
    }
    .container-fluid ul h2
    {   
        text-align: center;
        width: fit-content;
        font-size: 20px;
        color: white;
    }
    
    .text {
        position: relative;
        width: 50vh;
        height: 2.5rem;
        top: 7%;
    }
    
    button {
        position: relative;
        height: 2.5rem;
        top: 7%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px)
{
    .container-fluid {
        text-align: center;
        background: linear-gradient(-45deg, #E8CBC0, #fab95e,rgb(55, 255, 152),#636FA4, #a202ff);
        background-size: 400% 400%;
        animation: moveBackground 15s ease infinite;
        width: 100%;
        height: 100vh;
    }
    
    @keyframes moveBackground {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    .container-fluid h1 {
        position: relative;
        text-align: center;
        top: 15%;
        font-size: 12.5rem;
        font-family: fantasy;
        color: white;
    }
    
    .container-fluid h6{
        position: relative;
        top:12%;
        left: 30%;
        font-size: 30px;
        background: -webkit-linear-gradient(125deg, #022cff, #3502ff, #af02ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
        
    }

    .container-fluid ul
    {
        position: relative;
        align-content: center;
        display: flex;
        top: 25vh;
        width: max-content;
        gap: 20vh;
        right:2%;
        
        
    }
    .container-fluid ul h2
    {   
        text-align: center;
        width: fit-content;
        font-size: 20px;
        color: white;
    }
    
    .text {
        position: relative;
        width: 50vh;
        height: 2.5rem;
        top: 7%;
    }
    
    button {
        position: relative;
        height: 2.5rem;
        top: 7%;
    }
}
/*Size for large screens*/
@media (min-width: 1281px)
{
    .container-fluid {
        text-align: center;
        background: linear-gradient(-45deg, #E8CBC0, #fab95e,rgb(55, 255, 152),#636FA4, #a202ff);
        background-size: 400% 400%;
        animation: moveBackground 15s ease infinite;
        width: 100%;
        height: 100vh;
    }
    
    @keyframes moveBackground {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    .container-fluid h1 {
        position: relative;
        text-align: center;
        top: 15%;
        font-size: 12.5rem;
        font-family: fantasy;
        color: white;
    }
    
    .container-fluid h6{
        position: relative;
        top:10%;
        left: 20%;
        font-size: 30px;
        background: -webkit-linear-gradient(125deg, #022cff, #3502ff, #af02ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
        
    }
    
    .container-fluid ul
    {
        position: relative;
        display: flex;
        top: 25vh;
        
    }
    .container-fluid ul h2
    {   
        text-align: center;
        width: 500px;
        font-size: 25px;
        color: white;
    }
    
    .text {
        position: relative;
        width: 100vh;
        height: 2.5rem;
        top:5%;
    }
    
    button {
        position: relative;
        height: 2.5rem;
        top: 5%;
    }
}


